/*donner un nom aux couleurs qu'on va utiliser*/
:root {
  --light:#f0efff;
  --middle:#aed3d8;
  --dark: #2a2f3c;
}

/*les elements de base*/


*{
	margin: 0;
	padding: 0;
}

p {
  font-family: 'Montserrat';

}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: var(--dark);
  font-size: 1.1rem;
  display: grid

}

h1, h2, h3, h4 {
  line-height: 1.3;
}

a {
  color: var(--dark);
  text-decoration: none;
}

ul {
  list-style: none;
  font-size: 1em; 
}

/*navbar*/
.container {
  max-width: 75%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  font-size: 2vw;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 1%;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.navbar .logo {
  font-size: 3vw;
}

.navbar ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}

.navbar a:hover {
  color: var(--middle);
  transition: 0.5s;
}

.navbar .logo:hover{
    color: var(--middle);
  transition: 0.5s;
}

/*la phrase d'achroche tt ca tu connais*/

.catcher{
  font-weight: bold;
  font-size: 1.4em;
}

.hero_texte {
  color: var(--dark);
  font-size: 1.8vw;
  text-align: left;
  margin-top: auto;
  height: 15vw;
  width: 25vw;
  margin-bottom: 10%;

}


.texte_btn {
  margin: 2em 4em;
}

.main_img{
  background-image: url("./images/main.svg");
  background-size: 100%;
  height: 18%;
  width: 100%;
  padding: 50% 100% 100% 50%; 
  margin-left: 120% ;
  margin-top: -80%;
}

.container2{
	display: flex;

}

.btn {
  background-color: #fff;
  border: 3px solid var(--middle);
  text-align: center;
  width: 17%;
  line-height: 2.3em;
  cursor: pointer;
  border-radius:  25px;
  color: var(--dark);
  transition: all 0.5s;
  font-size: 1.35vw;
  font-weight: 200;
  margin-top: -3%;
  margin-left: 3.5vw;
}


.btn:hover {
  box-shadow: -1px 5px 14px 0px var(--middle);
}


/*==========================les titres ==================================*/
.titre{
  margin-top: 8%;
}

.texte_titre{
  text-align: center;
  font-weight: bold;
  font-size: 2.5vw;
}
.souligne{

  text-decoration: none;
  border-bottom: 5px solid var(--middle);
}

/*=============================les icones et logo iut============================*/
.container3 i {
  padding: 5% 10%;  
  font-size:2vw;
  text-align: center;

}

.container3 .iut {  
  margin: 3.5% 10%; 
  font-size:2vw;
  text-align: center;
  height: 5vw;
  width: 5vw;
  background-image: url(./images/iut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.iconetxt{

  padding-top: 80%;

}

.container3 {
  display: inline-flex;
  margin-left: 16%;  
}

.icone_txt{
  padding-top: 25%;
  font-size: 0.9em;
}


.decouverte{
  margin-top: -5%;
}

/*=========================l'image fixe====================================*/

.fix_img{
  height: 25vw;
  width: 100%;
  background-image: url("./images/fixed_img.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 100vh;
  margin-top: 5%;
}


/*==========================cards====================================*/

.img_card{
  background-color: rgba(240, 239, 255, 0.3);
  height: 100%;
  width: 100%;
}

.container_card {
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 3%;
  display: block;
  height: 53%;
  width: 35%;
  border-radius: 10px;
  box-shadow: -1px 5px 14px 0px var(--middle);

}

.container_card:hover {
  box-shadow: 0px 0px 33px -3px var(--middle);
  transition: 0.5s;
}

.titre_card {
  font-weight: 1000;
  margin-left: auto;
  text-align: center;
  padding-left: 10% ;
  padding-bottom:  3%;
  font-size: 1.6vw;

}

.texte_card {
  margin-left: 3%;
  font-size: 1.5vw;
}

.decouvrir_section{
  display: inline-flex;
  margin-left: -8%;
}

.container_button {
  background-color: #fff;
  border: 3px solid var(--middle);
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
  border-radius:  15px;
  color: var(--dark);
  transition: all 0.5s;
  font-weight: 300;
  margin-left: 30%;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 1.2vw;
  padding: 5px 10px;

  background-image: linear-gradient(45deg, #aed3d8 50%, transparent 70%);
  background-position: 100%;
  background-size: 400%;

}

.container_button:hover {
  background-position: 0;
}

.nos_services{
  padding-left: 26%;
}

/*le titre etait trop grand pour sa place du coup fallais des ajustements*/
.a_quoi_sert{
  margin-left: -6%;
  margin-bottom: 2%;
}


@media only screen and (max-width: 1000px) {

  .icone_txt{
  font-size: 1.2em;
  margin-left: -2vw;
  }
}

/*=================les clients===========================*/

.container4{
  display: inline;
}


.avis{
  margin: 5% 26%;
  background-color: var(--light);
  border: 3px solid rgba(230,230,230,0.5);
}

.tete{
  width: 6vw;
  height: 6vw;
  background-image: url(./images/man3.png);
  background-position: center;
  background-size: 500%;
  border-radius: 100px;
  margin-top: -3%;
  margin-left: -3%;
}

.stars{
  text-align: right;
  margin-top: -3%;
}

.star{
  margin-right: 3%;
}

.text_client{
  font-size: 1rem;
  margin: 0 5% 2% 5%;
}

.qui{
  font-size: 1rem;
  text-align: right;
  margin-right: 3vw;
}


/*==========================equipe 667==============================*/

.equipe{
  display: inline-flex;
  margin-left: 10%;
  margin-top: 4%;
  font-size: 1.5vw;
}

.personne{
  border: 3px solid #abc;
  background-color: var(--light);
  width: 25vw;
  margin-bottom: 3%;
  margin-left: 3%;
}


.fonction_equipe{
  font-weight: 1000;
  margin-left: 1%;
}

.desc_equipe{
  margin: 5% 4% 0% 4%;
}

.nom_equipe{
  padding-top: 10%;
  float: right;
}
/*========================newsletter==================================*/

.news{
  height: 20vw;
  width: 100%;
  background-image: url("./images/news.svg");
  background-repeat: no-repeat;
/*  background-attachment: fixed;*/
  background-position: center;
  background-size: 23% 100vh;
  margin-top: 3%;
  margin-bottom: 3%;
  opacity: 0.8;
  display: inline-grid;
}

.news_text{
  color: black;
  padding-left: 3%;
  padding-top: 6%;
  width: 40%;
  height: 10%;

}

.news_title{
  font-weight: 1000;
  font-size: 2.5vw;
  margin-bottom: 10%;
}

.news_desc{
  display: inline-flex;
  font-size: 2vw;
}

.news_container{
  margin-left: 60% ;
  margin-top: -9%;
}
.news_input{
  width: 80%;
  height: 15% ;
  border: none;
  border-bottom: 3px solid #6b969d;
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.news_input:hover{

  border-bottom: 3px solid var(--middle);
  transition: 0.5s;
}

.news_button{
  background-color: #fff;
  border: 3px solid var(--middle);
  text-align: center;
  width: 30%;
  line-height: 2.3em;
  cursor: pointer;
  border-radius:  25px;
  color: var(--dark);
  transition: all 0.5s;
  margin-top: 4%;
  font-size: 1.5vw ;
}

.news_button:hover {
  box-shadow: -1px 5px 14px 0px var(--middle);
}



/*======================footer==================================*/

footer{
  background-color: rgba(42, 47, 60, 0.8);
}


.footer_links{
  color: var(--light);
  margin: 2vw;
  font-size: 1.5vw;
}

.footer_links:hover{
  color: var(--middle);
  transition: 0.3s;
}

.acontainer{
  display: inline;
  margin-left: 1%;   
  font-size: 0.9em;
  font-weight: 50;
}

.rights{
  float: right;
  padding-right: 5%;
  color: var(--light)
}

.footer_icone1{
  margin-left: 10%;
  color: var(--light);
  cursor: pointer;

}

.footer_icone{
  margin-left: 4%;
  color: var(--light);
  cursor: pointer;
}

/*================== ###################### page 2 et 3 ################## ======================*/

.page_container {
  display: inline;
  margin: 6% 0;
}

.celle_du_cote{
  height: 70%;
  width: 25%;
  margin-left: 2.5%;
  margin-right: 1%;
  float: right;
  border-left: 1.5px solid var(--light);
  padding-left: 1vw;
}

.celle_du_cote i{
  color: var(--dark)
}

.celle_du_cote .tete{
  height: 4vw;
  width: 4vw;
  float: right;
}
.voir_aussi{
  margin-top: 100%;
}

.voir_aussi ul{
  margin-left: 10%;
  list-style-type: circle;
  color: grey;
}

.voir_aussi h3{
  margin-bottom: 4%;
}

.voir_aussi li{
  margin-bottom: 4%;
}


.voir_aussi li a{
  color: #4aa;
}

.voir_aussi li a:hover {
  color: var(--middle);
  transition: 0.5s;
}

.le_contenu{
  width: 70%;
  margin-left: 6%;

}

.le_contenu li{
  list-style: inside;
  margin: 2% 0% 2% 4%;
}

.page_container h4{
  color: grey;
  margin-bottom: 2%;
}

.page_container h2{
  margin: 2% 0;
  color: var(--dark);
}
iframe {
  margin-left: 15%;
}

/*================== ###################### page 4 ################## ======================*/

.offres_table {
  font-size: 12px;
  color: #333333;
  width: 80%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
  margin-left: 10%;
  margin-top: 5%;
}

.offres_table th {
  font-size: 12px;
  background-color: #acc8cc;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align: center;
}

.offres_table tr {
  background-color: #d4e3e5;
}

.offres_table td {
  font-size: 12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align: center;
}

.offres_table tr:hover {
  background-color: #ffffff;
}

.wow{
  margin: 4% 10%;
  background-color: var(--light);
}

